# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data & models (optional: track with LFS instead of ignoring)
*.csv
*.pkl
*.h5

# OS
.DS_Store
Thumbs.db
